/* +++++ COMMONS +++++ */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding: 5vh;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    margin: auto;
    width: 80vw;
}


/* +++++ HEADER +++++ */
.header{
    
}


/* +++++ JUMBOTRON +++++ */



/* +++++ MAIN +++++ */



/* +++++ FOOTER +++++ */



/* +++++ DEBUG +++++ */
.debug .header{
    height: 10vh;
    background-color: violet;
}