/* +++++ COMMONS +++++ */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding: 5vh;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    margin: auto;
    width: 80vw;
    border-radius: 10px;
}

.margin-bot-std{
    margin-bottom: 3vh;
}


/* +++++ HEADER +++++ */
.header{
}


/* +++++ JUMBOTRON +++++ */
.jumbotron{
}


/* +++++ MAIN +++++ */



/* +++++ FOOTER +++++ */



/* +++++ DEBUG +++++ */
.debug .header{
    height: 10vh;
    background-color: violet;
}

.debug .jumbotron{
    height: 30vh;
    background-color: rgb(231, 231, 133);
}

