/* +++++ COMMONS +++++ */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding: 3vh;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    margin: auto;
    width: 80vw;
}

.margin-bot-std{
    margin-bottom: 3vh;
}


/* +++++ HEADER +++++ */
.header{
}


/* +++++ JUMBOTRON +++++ */
.jumbo{
}


/* +++++ MAIN +++++ */
.main{
    margin-bottom: 1vh;
}

.main-section{
    margin-bottom: 2vh;
}

.side{
    width: 18vw;
}

.central{
    width: 40vw;
    margin: 0 2vw 0 2vw;
}


/* +++++ FOOTER +++++ */



/* +++++ DEBUG +++++ */

/* border radius da togliere da tutti i container prima di lavorare sul contenuto,  l'ho aggiunto per pura estetica */
.debug .container{
    border-radius: 50px;
}

.debug .header{
    height: 10vh;
    background-color: violet;
}

.debug .jumbotron{
    height: 30vh;
    background-color: rgb(231, 231, 133);
}

/* al main non serve altezza perché ha già del contenuto */
.debug .main{
    background-color: rgb(31, 133, 230);
}

.debug .top{
    height: 5vh;
}

/* border radius da togliere da tutti i container prima di lavorare sul contenuto,  l'ho aggiunto per pura estetica */
.debug .main-section{
    background-color: lightblue;
    border-radius: 50px;
}

.debug .vertical{
    height: 30vh;
}

.debug .footer{
    height: 10vh;
    background-color: rgb(119, 58, 189);
}